body {
    direction:rtl;
    font-family:'Alef MultiGndr';
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 349px;
}


main {
    position: absolute;
    float: right;
    top: 250px;
}

#not-allowed {
    cursor: not-allowed;
}

footer {
    position: absolute;
    top: 2000px;
    width: 1280px;
    height: 349px;
    background: #A0C2D1;
}